.next/
.vercel/
.tmp/
node_modules/
out/
dist/
tsconfig.tsbuildinfo
*.log
.env*
!.env.example
.wrangler/
# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

# clerk configuration (can include secrets)
/.clerk/
.vercel

# supabase
supabase/.temp/